{block content}
<div class="hero py-5 border-top border-bottom border-5 border-black">
    <div class="container px-4 px-lg-5 my-5 py-5">
        <div class="text-center text-black p-3" style="background-color: #f1f1f160">
            <h1 class="display-4 fw-bolder">Knihy, které nezabírají místo, ale mysl</h1>
            <p class="lead fw-normal mb-0">Jsme experti na E-book čtečky. Všechny naše čtečky vždy skladem.</p>
        </div>
    </div>
</div>