{varType App\Model\Entities\Product[] $products}
{block content}
<div class="hero py-5 border-top border-bottom border-5 border-black">
    <div class="container px-4 px-lg-5 my-5 py-5">
        <div class="text-center text-black p-3" style="background-color: #f1f1f160">
            <h1 class="display-4 fw-bolder">Knihy, které nezabírají místo, ale mysl</h1>
            <p class="lead fw-normal mb-0">Jsme experti na E-book čtečky. Všechny naše čtečky vždy skladem.</p>
        </div>
    </div>
</div>
<div class="container px-4 px-lg-5 mt-5">
    <h2 class="mb-5 text-center">Doporučujeme</h2>
<section class="row gx-4 gx-lg-5 row-cols-1 row-cols-sm-2 row-cols-xl-4 justify-content-center" n:if="!empty($products)">
    {foreach $products as $product}
        <div class="col mb-5">
            <div class="card h-100">
                <div class="badge {if $product->available}bg-success{else}bg-danger{/if} text-white position-absolute" style="top: 0.5rem; right: 0.5rem">{if $product->available}Skladem{else}Není skladem{/if}</div>
                <a href="{plink Product:show url=>$product->url}" ><img class="card-img-top p-4 pb-0" style="object-fit: contain;" height="250" src="{$basePath}/img/products/{$product->productId}.{$product->photoExtension}" alt="{$product->title}" /></a>
                <div class="card-body p-4">
                    <div class="text-center">
                        <a class="text-decoration-none text-dark" href="{plink Product:show url=>$product->url}" ><h5 class="fw-bolder">{$product->title}</h5></a>
                        {$product->price} Kč
                    </div>
                </div>
                {if $product->available}
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Koupit</a></div>
                    </div>
                {/if}
            </div>
        </div>
    {/foreach}
</section>
</div>
<div class="d-grid gap-2 col-2 mx-auto mb-5">
    <a href="{plink Product:list}" class="btn btn-outline-dark">Další knihy</a>
</div>