{varType App\Model\Entities\Product[] $products}
{block content}
<div class="container px-4 px-lg-5 mt-5">
<h1 class="mb-5" n:block="title">Obchod</h1>

<section class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center" n:if="!empty($products)">
    {foreach $products as $product}
    <div class="col mb-5">
        <div class="card h-100">
            <div class="badge bg-success text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Skladem</div>
            <a href="{plink Product:show url=>$product->url}" ><img class="card-img-top" src="{$basePath}/img/products/{$product->productId}.{$product->photoExtension}" alt="{$product->title}" /></a>
            <div class="card-body p-4">
                <div class="text-center">
                    <a class="text-decoration-none" href="{plink Product:show url=>$product->url}" ><h5 class="fw-bolder">{$product->title}</h5></a>
                    {$product->price} Kč
                </div>
            </div>
            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Koupit</a></div>
            </div>
        </div>
    </div>
    {/foreach}
</section>
</div>