{**
 * @param string   $basePath web base path
 * @param array    $flashes  flash messages
 *}
<!DOCTYPE html>
<html lang="cs">
<head>
	<meta charset="utf-8" />
	<title>{ifset title}{include title|striptags} - {/ifset}EleKnihy</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
	<link type="text/css" href="{$basePath}/css/stylesheet.css" rel="stylesheet" />
	<link rel="icon" href="{$basePath}/img/favicon/favicon.ico" sizes="any" />
	<link rel="apple-touch-icon" sizes="180x180" href="{$basePath}/img/favicon/favicon-180x180.png" />
	<link rel="icon" href="{$basePath}/img/favicon/favicon.svg" type="image/svg+xml" />
	<link rel="manifest" href="{plink Homepage:manifest}" />

	{block head}{/block}
</head>
<body>

	<header class="navbar navbar-expand-lg navbar-light bg-light">
		<div class="container px-4 px-lg-5">
			<a class="navbar-brand" href="{plink Homepage:default}">
				<img src="{$basePath}/img/brand/logo-eleknihy.svg" width="30" height="30" class="d-inline-block align-top" alt="">
				EleKnihy
			</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
					<li class="nav-item"><a class="nav-link" href="{plink Contact:default}">Kontakty</a></li>
					<li class="nav-item"><a class="nav-link" href="{plink About:default}">O nás</a></li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Obchod</a>
						<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
							<li><a class="dropdown-item" href="{plink Product:list}">Všechny E-čtečky</a></li>
							<li><hr class="dropdown-divider" /></li>
							<li><a class="dropdown-item" href="#!">Amazon Kindle</a></li>
							<li><a class="dropdown-item" href="#!">PocketBook</a></li>
							<li><a class="dropdown-item" href="#!">S podsvícením</a></li>
							<li><a class="dropdown-item" href="#!">Příslušenství</a></li>
						</ul>
					</li>
				</ul>
				<form class="d-flex">
					<button class="btn btn-outline-dark mx-2" type="submit">
						<i class="bi-person-fill me-1"></i>
						{control userLogin}
					</button>
					<button class="btn btn-outline-dark" type="submit">
						<i class="bi-cart-fill me-1"></i>
						{control cart}
					</button>
				</form>
			</div>
		</div>
	</header>
	<div class="container">

		<div n:foreach="$flashes as $flash" class="alert alert-{$flash->type=='error'?'danger':$flash->type} alert-dismissible mt-2" role="alert">
			{$flash->message}
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
	</div>
	<div>
		<section>
		{include content}
		</section>
	</div>

	<footer class="py-5 bg-dark">
		<div class="container"><p class="m-0 text-center text-white">Copyright &copy; E-shop Eleknihy - Pokročilé webové aplikace 2023</p></div>
	</footer>

	{block scripts}
		<script src="https://nette.github.io/resources/js/3/netteForms.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
	{/block}
</body>
</html>

